<html>
    <head>
        <title>
            PIZZIGY
        </title>
    </head>

    <body>
        
        <p style="font-size: 30px;">
            Hello <%=person.name%>
        </p>

    </body>

</html>
