<html>
    <head>
        <title>
            PIZZIGY
        </title>
    </head>

    <body>
        <a href="/logout" class="btn btn-info" role="button">Log Out</a>
        <p style="font-size: 30px;">
            Hello <%=person.name%>
        </p>

    </body>

</html>
